@charset "utf-8";
/* common
====================*/
body {
    line-height: 1;
    font-family: 'Muli', sans-serif;
    background-color: #ccc;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,ol,p {
	margin: 0;
	padding: 0;
}
.container {
	width: 907px;
	padding: 0 15px;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: table;
	clear: both;
}
/* header 
====================*/
#header{
	width: 100%;
    height: 100%;
    background:#ff9900;
}
#header .logo-text{
    width: 825px;
    height: 158px;
    margin: auto;
    padding-top: 35px;
}
#header .logo-text p{
    font-size: 25px;
    text-transform: uppercase;
    color: #cc3300;
}
#header .logo-text span{
	color: #ffffff;
}
#header .logo-text .MHP{
	font-size: 18px;
	display: block;
}
#navigation{
	background:#ff751a;
    width: 877px;
    height: 72px;
    margin: 0 auto;
}
#navigation .list-nav:after{
	content: '';
	display: table;
	clear: both;
}
#navigation .list-nav li{
	float: left;
	padding-bottom: 9px;
	list-style: none;
}
#navigation .list-nav a{
	position: relative;
	display: block;
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	background-color: transparent;
	font-weight: normal;
	padding:24px 10px;
	margin: 0 30px;
	line-height: 1;
}
#navigation .list-nav a:after {
	content: '';
	position: absolute;
	bottom: -19px;
	left: 0;
	right: 0;
	width: 0%;
	height: 3px;
	background-color: #ff6600;
	color: #ffffff;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
#navigation ul li:hover{
    background:#e65c00;
    cursor: pointer;
    }
#navigation .list-nav a:hover:after {
	opacity: 1;
	visibility: visible;
	width: 95%;
}
/* main
====================*/
.wrap-content{
    margin: 0 auto;
    background: #ffffff;
    padding-bottom: 50px;
    font-size: 14px;
}
.wrap-content .site-content{
    width: 595px;
    padding: 15px 20px;
    text-align: justify;
    float: left;
}
.wrap-content  h2{
	font-weight: normal;
}
.site-content .image-banner{
	text-align: center;
}
.site-content .image-banner img{
	max-width: 100%;
	height: auto;
}
.site-content .list-content{
    padding-top: 20px;
}
.site-content .list-content:last-child{
    padding-top: 0;
}
.site-content .list-content ul li {
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	list-style: none;
	background: url("/ktrahk/images/bullet.png") no-repeat;
	background-size: 20px;    
}
.wrap-content .site-content h2 span{
	color: #3399ff;
}
 #sidebar{
    padding: 15px 20px;
    text-align: justify;
    overflow: hidden;
    width: 190px;
}
 #sidebar article{
 	padding: 0 0 20px;
 }
 #sidebar article .post-title{
 	color: #3399ff;
 }
 #sidebar article .post-celendar{
     padding-top: 10px;
 	text-transform: uppercase;
 	letter-spacing: -0.5px;
 	font-weight: bold;
 	font-style: italic;
 	padding-bottom: 20px;
 }
 #sidebar a{
    color: rgb(206, 137, 10);
}
 #sidebar a:hover{
    font-style: italic;
    text-decoration: unset;
}
#sidebar .list-sidebar ul li {
	margin: 0;
	padding: 0 0 10px 25px;
	list-style: none;
	background: url("/ktrahk/images/link.png") no-repeat;
	background-size: 23px;
}
#sidebar_form_search{
    display: flex;
}
#sidebar_form_search img{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.site-content .list-content ul li a{
    text-decoration: none;
    color: #000;
}
/* footer 
====================*/
footer{
    padding: 20px 0 ;
    margin: 0 auto;
    width: 878px;
    background: #ff6600;
    text-align: center;
    color: white;
    font-weight: bold;
}
/* For tablets: */
/* @media only screen and (max-width:800px) {
  
  body {
    width: 80%;
    padding: 0;
    background-color: ##99ccff;
  }
} */
  /* For mobile phones: */
/* @media only screen and (max-width:500px) {

  body{
    width: 100%;
  }
} */
